@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}


<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>
@if (Model.Artitsts.Count > 0)
{
    <h5>Artitst:</h5>
    <div>
        <ul>
            @foreach (var artist in Model.Artitsts)
            {
                <li>@artist.DisplayText</li>
            }
        </ul>
    </div>
}
